.demo-layout-transparent {
  background: url('/lazy-nigel.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.custom-body {
	background-color: hsla(250, 100%, 8%, 0.5);
}

.custom-body h1,
.custom-body p {
	color: #a8d7ff;
	background-color: hsla(250, 100%, 8%, 0.6);
}
